esphome:
  name: otgateway
  friendly_name: OpenTherm Gateway

  devices:
    - id: ch
      name: "Central Heating"

    - id: dhw
      name: "Domestic Hot Water"
  
  on_boot:
    priority: 600
    then:
      - light.turn_on:
          id: led_strip
          effect: "Status Monitor"